extends layout 

block content 
    h1= title

    div.flex-column
        ul 
            each pepper in peppers 
                li 
                    a(href=pepper.url) #{pepper.name} 
            else 
                li There are no peppers
        
        a.btn(href="/catalog/peppers/add") Add Pepper 